build/*
.idea/*
cmake-build-debug/
*.pyc
*/__pycache__/*
.DS_Store
pyhanabi/exps
pyhanabi/old_exps
sweep
sweep_*
plot.png
sweep*.py
*.ipynb*
models/*
!models/download.sh
!models/op_raw_data.txt
pyhanabi/slurm_out/*.txt
pyhanabi/slurm_out_old/*.txt
